{% extends "layout.html" %} {% include "slider.html" %} {% block content %}

<div class="row mb-2">
  {% for row in posts|batch(2) %} {% for post in row %}
  <div class="col-md-6">
    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
      <div class="col p-4 d-flex flex-column position-static">
        <strong class="d-inline-block mb-2 text-primary">{{ post.FirstName }}</strong>
        <h3 class="mb-0">{{ post.LastName }}</h3>
        <div class="mb-1 text-muted">نوفمبر 12</div>
        <p class="card-text mb-auto">هذه بطاقة أوسع مع نص داعم أدناه كمقدمة طبيعية لمحتوى إضافي.</p>
        <a href="#" class="stretched-link">ادامه مطلب</a>
      </div>
      <div class="col-auto d-none d-lg-block">
        <img src="img_girl.jpg" alt="Girl in a jacket" width="200" height="250" />
        <!-- <svg
          class="bd-placeholder-img"
          width="200"
          height="200"
          role="img"
          aria-label="Placeholder: صورة مصغرة"
          preserveAspectRatio="xMidYMid slice"
          focusable="false"
        >
          <title>Placeholder</title>
          <rect width="100%" height="100%" fill="#20c997" />
          <text x="50%" y="50%" fill="#eceeef" dy=".3em">{{ post.FirstName }} {{ post.FirstName }}</text>
        </svg> -->
      </div>
    </div>
  </div>
  {% endfor %} {% endfor %}
</div>
{% endblock content %}
